.parent-container {
  display: flex;
  text-align: center;
}

.child-container {
  flex: 1;
  border: 2px solid black;
}

.child-container:first-child {
  margin-right: 5px;
}

.custom-file-input {
  margin: 20px;
}

.warning-note {
  color: '#ffcc00'
}

.container {
  background-image: url('./assets/images/background_image.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-container img {
  width: 120px;
  height: 100px;
}