.parent-container {
  display: flex;
  text-align: center;
}

.child-container {
  flex: 1;
  border: 2px solid black;
}

.child-container:first-child {
  margin-right: 5px;
}

.custom-file-input {
  margin: 20px;
}